---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { Badge, Card, Heading, Link, Pagination } from 'accessible-astro-components'
import type { PaginateFunction, Page } from 'astro'
import { getCollection } from 'astro:content'
import { slugify } from '@/utils/slugify'


interface Post {
  id: string
  slug: string
  title: string
  body: string
  featuredImage: any
  tags?: string[]
}

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  const posts = await getCollection('posts')


    // Collect all tags safely
  const allTags = posts
    .map((post) => post.data.tags || [])
    .flat()
    .filter(Boolean)

  const uniqueTagLabels = [...new Set(allTags)].sort((a, b) => a.localeCompare(b))
  const uniqueTags = uniqueTagLabels.map((label) => ({
    label,
    slug: slugify(label),
  }))
  // Sort by date descending (if date exists)
  posts.sort(
    (a, b) =>
      new Date(b.data.date ?? 0).getTime() -
      new Date(a.data.date ?? 0).getTime()
  )

 

  const postsWithImages = posts.map((post, index) => ({
    ...post,
    title: post.title,
  }))

  return paginate(postsWithImages, { pageSize: 6 })
}

interface Props {
  page: Page<Post>
}

const { page } = Astro.props as Props

function truncateBody(body: string, wordCount = 40) {
  const words = body.split(/\s+/)
  return words.slice(0, wordCount).join(' ') + (words.length > wordCount ? '…' : '')
}
---
<DefaultLayout
  title="blog"
  description="thoughts/essays"
>
  <PageHeader
    title="blog"
    subtitle='thoughts/essays'
    bgType="bordered"
  />

  <section class="my-12">
    <div class="container">
      <p class="text-sm">
        <em>Showing posts {page.start + 1}–{page.end + 1} of {page.total}</em>
      </p>

      <ul class="my-3 grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
        {page.data.map((post) => (
          <li>
            <Card
              url={'/blog/' + post.slug}  
              title={post.data.title || 'Default title'}
              headingLevel="h2"
              fullHeight={true}
            >
              {truncateBody(post.body)}
                 {post.data.tags && post.data.tags.length > 0 && (
                <span slot="meta" class="flex flex-wrap gap-2 mt-4">
                  {post.data.tags.map((tag) => (
                    <Badge>{tag}</Badge>
                  ))}
                </span>
                )}
            </Card>
          </li>
        ))}
      </ul>

      {page.lastPage > 1 && (
        <div class="mt-12 grid place-content-center">
          <Pagination
            firstPage={page.url.first}
            previousPage={page.url.prev}
            nextPage={page.url.next}
            lastPage={page.url.last}
            currentPage={`${page.currentPage}`}
            totalPages={`${page.lastPage}`}
            ariaLabel="Blog pagination"
          />
        </div>
      )}
    </div>
  </section>
</DefaultLayout>
