---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import SocialShares from '@components/SocialShares.astro'
import BreakoutImage from '@components/BreakoutImage.astro'
import { Heading } from 'accessible-astro-components'
import { getCollection } from 'astro:content'

// Required for dynamic routing: export getStaticPaths
export async function getStaticPaths() {
  const posts = await getCollection('posts')

  return posts.map(post => ({
    params: { post: post.slug }, // slug used as route param
    props: { post }, // pass entire post as prop
  }))
}

const { post } = Astro.props

const formattedDate = new Date(post.data.date).toLocaleDateString(undefined, {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
})
---

<DefaultLayout
  title={post.data.title}
  description={post.data.description || ''}
  url={`/blog/${post.slug}`}
>
  <PageHeader
    title={post.data.title}
    subtitle={post.data.description || ''}
    bgType="bordered"
    featuredImage={post.featuredImage}
    />
    


  <section class="my-12">
    <div class="narrow container">
      <article>{post.body}</article>
    </div>
  </section>

  <section class="my-12">
    <div class="narrow space-content container">
      <Heading level="h2">Demo content</Heading>
      <BreakoutImage src="/posts/post-image-2.png" />
    </div>
  </section>

  <section class="my-12">
    <div class="narrow space-content container">
      <Heading level="h2">Share this post</Heading>
      <p>Like this post? Share it with your friends!</p>
      <SocialShares />
    </div>
  </section>
</DefaultLayout>
