---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import { SERVICES } from "@consts"

const collection = await getCollection("services")


const services = await Promise.all(
  collection.map(async (item) => {
    const { Content } = await item.render()
    return { ...item, Content }
  })
)

function formatWorkDate(input: Date | string) {
  if (typeof input === "string") return input

  const month = input.toLocaleDateString("en-US", {
    month: "short",
  })

  const year = new Date(input).getFullYear()
  return `${month} ${year}`
}
---

<PageLayout title={SERVICES.TITLE} description={SERVICES.DESCRIPTION}>
   <TopLayout>
    <div class="animate page-heading">
      <h1 class="text-3xl font-semibold text-black dark:text-white mt-2">
        {SERVICES.TITLE}
      </h1>
      <div class="mt-1">
        {SERVICES.DESCRIPTION}
      </div>
    </div>
  </TopLayout>
  <BottomLayout>
    <!--services inntro -->
     <section class="animate">
        <div class="space-y-4">
          <p class="font-semibold text-black dark:text-white">
          
    Partnering with individuals, small teams, public agencies, and organizations to work towards a solid web presence. 
 Whether you're building from scratch or refining what's already there, tell me where you’re at and I’ll handle the rest.</p>

           <p class="font-regular text-black dark:text-white"> These are typical deliverables, with the flexibility to add or modify services based on your needs.   

</p>
 

    <ul>
      { 
        services.map((entry) => (
          <li class="animate border-b border-black/10 dark:border-white/25 mt-4 py-8 first-of-type:mt-0 first-of-type:pt-0 last-of-type:border-none">
            
            <div class="text-black dark:text-white font-semibold">
              {entry.data.title}
            </div>
            <div class="text-sm font-semibold">
              {entry.data.summary}
            </div>
            <article class="prose dark:prose-invert">
              <entry.Content />
            </article>
          </li>
        ))
      }
    </ul>
    </div></section>
  </BottomLayout>
</PageLayout>
