---
import { SITE, SOCIALS } from "@/consts";
import { getCollection, type CollectionEntry } from "astro:content";

const Projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
).slice(0, 3);
---
<footer class="container mx-auto border-t rounded-t-xl p-10">


  <div class="container mx-auto px-6 space-y-8">
  <div
    class="flex flex-col lg:flex-row justify-between items-start lg:items-center gap-6">
    <h2 class="text-5xl lg:text-9xl uppercase">{SITE.TITLE}</h2>
    <p class="text-2xl lg:text-3xl max-w-[760px]"> Chaotic neutral for web design + development. </p>
  </div>
  <div class="flex flex-col sm:flex-row sm:flex-wrap justify-between gap-10">
    <div>
      <h3 class="mb-2 text-xl">Contact</h3>
      <ul>
        <li><a href="mailto:hi@yessikenney.com">{SITE.EMAIL}</a></li>
      </ul>

      <div class="pt-18"><h3 class="mb-2 text-xl"><a href="/accessibility-statement">Accessibility Statement</a><h3></div>
    </div>

    <div>
      <h3 class="mb-2 text-xl">Navigation</h3>
      <ul class="space-y-1 text-secondary">
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <div>
      <h3 class="mb-2 text-xl">Socials</h3>
      <ul class="space-y-1 text-secondary">
        {
          SOCIALS.map((link) => (
            <li>
              <a href={link.HREF}>{link.NAME}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <div>
      <h3 class="mb-2 text-xl">Projects</h3>
      <ul class="space-y-1 text-secondary">
        {
          Projects.map((project) => (
            <li>
                <a href=`/projects/${project.id}`>{project.data.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <nav class="a11y-webring-club" aria-labelledby="a11y-webring-club">
  <h2 id="a11y-webring-club">a11y-webring.club</h2>
  <p>This site is a member of the <a rel="external" href="https://a11y-webring.club/">a11y-webring.club</a>.</p>
  <ul>
    <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/prev">Previous website</a></li>
    <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/random">Random website</a></li>
    <li><a rel="external" referrerpolicy="strict-origin" href="https://a11y-webring.club/next">Next website</a></li>
  </ul>
</nav>
  </div>
  <span class="block text-center text-sm opacity-70">
    © {SITE.TITLE}. Built with Astro. And care and caffeine and cozy vibes. 
  </span>
</footer>
